<ion-app>
  <ion-menu size="start" menuId="principal" contentId="main">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Main menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of menuOptions">
          <ion-item [routerLink]="[p['url']]">
            <ion-icon slot="start" [name]="p['icon']"></ion-icon>
            <ion-label>
              {{p['title']}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main">
    
  </ion-router-outlet>
</ion-app>
